.card-quantity-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-button {
  background-color: transparent;
  border: 1px solid #000;
}

.card.single {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

@media screen (min-width: 700px) {
  .card.single {
    width: auto;
    max-width: 650px;
  }
}
